@model List<DeckViewModel>
@{
    ViewData["Title"] = "View Deck";

}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("/js/Deck/ViewDeck.js")"></script>
}

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["edit"] != null)
{
    <script>
        ToggleEdit();
    </script>
}

<h2>View Deck</h2>


<div class="form-horizontal">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <input type="hidden" asp-for="@Model[i].ID" id="fieldid" />
        <input type="hidden" asp-for="@Model[i].UserId" value="1" id="fielduserid" />
        <div id="View" style="display: block">
            <label asp-for="@Model[i].DeckName"></label>:<br />
            <div>Model[i].DeckName</div><br />
            <button type="button" onclick="ToggleEdit()">Edit</button>
        </div>
        <div id="Edit" style="display: none">
            <label asp-for="@Model[i].DeckName"></label>:<br />
            <textarea asp-for="@Model[i].DeckName" id="fieldDeckname">@Model[i].DeckName</textarea><br />
            <span asp-validation-for="@Model[i].DeckName"></span><br />
            <button onclick="SubmitEdit();">Save Deck</button><button type="reset" onclick="CancelEdit();">Cancel</button>
        </div>
    }
</div>
