@model List<DeckViewModel>
@{
    ViewData["Title"] = "View Deck";

}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("/js/Deck/ViewDeck.js")"></script>
}

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["edit"] != null)
{
    <script>
        ToggleEdit();
    </script>
}

<h2>View Decks</h2>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>              
            </tr>
        </thead>
        <tbody>
            @foreach (var deck in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelDeck => deck.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelDeck => deck.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelDeck => deck.Name)
                </td>
                <!--Links-->
                <td>
                    @*<a asp-action="Edit" asp-route-id="@card.ID">Edit</a> |*@
                    <a asp-action="ViewDeckDetail" asp-route-id="@deck.ID">Details</a> @*|
            <a asp-action="Delete" asp-route-id="@card.ID">Delete</a>*@
                </td>

                <td>
                    @*<a asp-action="Edit" asp-route-id="@card.ID">Edit</a> |*@
                    <a asp-action="ReviewDeck" asp-route-deckid="@deck.ID">Review Deck</a> @*|
            <a asp-action="Delete" asp-route-id="@card.ID">Delete</a>*@
                </td>

            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert">
        ALERT: No decks could be found!
    </div>
}
