@model Memoraide_WebApp.Models.CardsDecksViewModel
@{
    ViewData["Title"] = "View Cards and Decks";

}

@*@section Scripts{
    <script type="text/javascript" src="@Url.Content("/js/Card/ViewCard.js")"></script>
}*@

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

@*@if (TempData["edit"] != null)
{
    <script>
        ToggleEdit();
    </script>
}*@

<h2>View Card</h2>
@if (Model.cardViewModel.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cardViewModel[0].ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cardViewModel[0].DeckId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cardViewModel[0].Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cardViewModel[0].Answer)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var card in Model.cardViewModel)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelCard => card.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.DeckId)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.Answer)
                </td>
                <!--Links-->
                <td>
                    @*<a asp-action="Edit" asp-route-id="@card.ID">Edit</a> |*@
                    <a asp-action="ViewCardDetail" asp-route-id="@card.ID">Details</a> @*|
                    <a asp-action="Delete" asp-route-id="@card.ID">Delete</a>*@
                </td>

            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert">
        ALERT: No cards could be found!
    </div>
}

