@model CardViewModel
@{
    ViewData["Title"] = "View Card";

}

@section Scripts{
    <script type="text/javascript" src="@Url.Content("/js/Card/ViewCard.js")"></script>
}

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["edit"] != null)
{
    <script>
        ToggleEdit();
    </script>
}

<h2>View Card</h2>


<div class="form-horizontal">
    <input type="hidden" asp-for="ID" id="fieldid"/>
    <input type="hidden" asp-for="DeckId" value="1" id="fielddeckid"/><!--Temporary until decks are finished-->
    <div id="View" style="display: block">
        <label asp-for="CardFront"></label>:<br />
        <div>@Model.CardFront</div><br />
        <label asp-for="CardBack"></label>:<br />
        <div>@Model.CardBack</div><br />
        <label asp-for="CardTags"></label>: <div>@Model.CardTags</div><br />
        <span asp-validation-for="CardTags"></span>
        <button type="button" onclick="ToggleEdit()">Edit</button>
    </div>
    <div id="Edit" style="display: none">
        <label asp-for="CardFront"></label>:<br />
        <textarea asp-for="CardFront" id="fieldcardfront">@Model.CardFront</textarea><br />
        <span asp-validation-for="CardFront"></span><br />
        <label asp-for="CardBack"></label>:<br />
        <textarea asp-for="CardBack" id="fieldcardback">@Model.CardBack</textarea><br />
        <span asp-validation-for="CardBack"></span><br />
        <label asp-for="CardTags"></label>: <input asp-for="CardTags" id="fieldtags"/>@Model.CardTags<br />
        <span asp-validation-for="CardTags"></span>
        <button onclick="SubmitEdit();">Save Card</button><button type="reset" onclick="CancelEdit();">Cancel</button>
    </div>
</div>
