@model List<CardViewModel>
@{
    ViewData["Title"] = "View Card";

}

@*@section Scripts{
    <script type="text/javascript" src="@Url.Content("/js/Card/ViewCard.js")"></script>
}*@

@if (TempData["message"] != null)
{
    <div class="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["edit"] != null)
{
    <script>
        ToggleEdit();
    </script>
}

<script> 
    //$(function () {
    //    $('.answer').click(function () {
    //        var $answer = $(this);
    //    });
    //});

    function ShowAnswer(div_id) {
        if (!div_id) {
            return false;
        }
        else {
            var div = document.getElementById(div_id);
            if (div.style.display !== "none") {
                div.style.display = "none";
            }
            else {
                div.style.display = "block";
            }

        }
    }
</script>


<h2>View Card</h2>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DeckId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Answer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].CardTags)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var card in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelCard => card.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.DeckId)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.Question)
                </td>
                <td>
                    <button class="answer" data-answer-id="@card.ID" data-answer-info="@card.Answer" onclick="ShowAnswer(@card.ID)">Show / Hide Answer</button>
                    @*@Html.DisplayFor(modelCard => card.Answer)*@
                </td>
                <td id="@card.ID" style="display:none;">
                    @Html.DisplayFor(modelCard => card.Answer)
                </td>
                <td>
                    @Html.DisplayFor(modelCard => card.CardTags)
                </td>
                <!--Links-->
                <td>
                    @*<a asp-action="Edit" asp-route-id="@card.ID">Edit</a> |*@
                    <a asp-action="ViewCardDetail" asp-route-id="@card.ID">Details</a> @*|
            <a asp-action="Delete" asp-route-id="@card.ID">Delete</a>*@
                </td>

            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert">
        ALERT: No cards could be found!
    </div>
}

@*<div class="form-horizontal">
    @for (int i = 0; i < Model.Count(); i++)
    {

        <input type="hidden" asp-for="@Model[i].ID" id="fieldid" />
        <input type="hidden" asp-for="@Model[i].DeckId" value="1" id="fielddeckid" /><!--Temporary until decks are finished-->
        <div id="View" style="display: block">
            <label asp-for="@Model[i].Question"></label>:<br />
            <div>@Model[i].Question</div><br />
            <label asp-for="@Model[i].Answer"></label>:<br />
            <div>@Model[i].Answer</div><br />
            <!-- <label asp-for="Model[i].CardTags"></label>: <div>Model[i].CardTags</div><br />
             <span asp-validation-for="Model[i].CardTags"></span>-->
            <button type="button" onclick="ToggleEdit()">Edit</button>
        </div>
        <div id="Edit" style="display: none">
            <label asp-for="@Model[i].Question"></label>:<br />
            <textarea asp-for="@Model[i].Question" id="fieldQuestion">@Model[i].Question</textarea><br />
            <span asp-validation-for="@Model[i].Question"></span><br />
            <label asp-for="@Model[i].Answer"></label>:<br />
            <textarea asp-for="@Model[i].Answer" id="fieldAnswer">@Model[i]..Answer</textarea><br />
            <span asp-validation-for="@Model[i].Answer"></span><br />
            <!--<label asp-for="Model[i].CardTags"></label>: <input asp-for="Model[i].CardTags" id="fieldtags" />Model[i].CardTags<br />
            <span asp-validation-for="Model[i].CardTags"></span>-->
            <button onclick="SubmitEdit();">Save Card</button><button type="reset" onclick="CancelEdit();">Cancel</button>
        </div>
    }

</div>*@
